html, body, div, ul, li, p, span {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

#root {
    margin-left: 15px;
}

p {
    margin-bottom: 5px;
}

p:first-child {
    margin-top: 20px;
}

span {
    font-size: 18px;
    color: #555;
}

strong {
    color:  #222;
}